a{
	text-decoration: none;
	color: #22A;
}
a:hover{color: #73A;}
body {
	margin: 2em;
	text-align: justify;
	font-family: Courier;
}
body > header > img {
	float: left;
	margin: 0.5em;
	border: solid #888 2px;
}

body > header > address > header{
	font-size: 2em;
	font-weight: bold;
	margin: 1em;
}
body > header > address{
	float: left;
	font-size: 10px;
}
body > header > nav { position absolute; top: 0;}
body > p { clear: left;}

body > h1 {
	color: #333;
	font-size: 12px;
}

body > h2 {
	text-indent: 1em;
	font-size: 11px;
}
body > p, body > blockquote{
	margin-left: 2em;
	font-size: 11px;
}
body > p > em {
	text-indent: 2em;
}
